<div class="row list-head-rev container col-md-8 offset-md-2">

<h1>Enhorabuena! has aceptado ....</h1>

<div class="container">
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <div class="event">
        <div class="img">
          <img alt="Event Image" src="{{serviceGlobal.picPath}}">
        </div>
        <div class="desc">
          <h3>{{serviceGlobal.title}}</h3>
          <p>{{serviceGlobal.serviceDescription}}</p>
        </div>
        <div class="date float-xs-right">
          <div class="day">{{serviceGlobal.day}}</div>
          <div class="month">{{serviceGlobal.month}}</div>
        </div>

      </div>
    </div>

    <h1>A cambio de....</h1>

    <div class="container">
      <div class="row">
        <div class="col-md-8 offset-md-2">
          <div class="event">
            <div class="img">
              <img alt="Event Image" src="{{offerGlobal.picPath}}">
            </div>
            <div class="desc">
              <h3>{{offerGlobal.title}}</h3>
              <p>{{offerGlobal.serviceDescription}}</p>
            </div>
            <div class="date float-xs-right">
              <div class="day">{{offerGlobal.day}}</div>
              <div class="month">{{offerGlobal.month}}</div>
            </div>

          </div>
        </div>
        </div>
      <div id="map"></div>
<script>
  window.services = {{{ restStr }}}
  console.log(window.services)
  
</script>

<script src="/javascripts/listMap.js"></script>  