{{!-- MODAL --}}

<div class="modal fade" id="myModal">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">


      <div class="modal-header">
        <h4 class="modal-title">Te ofrezco</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <form method="POST" action="/detail/{{services.id}}" enctype="multipart/form-data">
        <p>Tipo de servicio<input type="text" name="title" placeholder="name"></p>
        <p>Descripción<input type="text" name="serviceDescription" placeholder="description"></p>
        <p>Photo<input type="file" name="photo"></p>

        {{!-- <p>Until <input type="date" name="serviceExpiresDate" id="serviceExpiresDate"></p>
        <label>Address</label> --}}<p class="fallbackLabel">Fecha del servicio</p>
    <div class="fallbackDatePicker">
      <span>
        <label for="day">Day:</label>
        <select id="day" name="day">
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
          <option>5</option>
          <option>6</option> 
          <option>7</option>
          <option>8</option>
          <option>9</option>
          <option>10</option>
          <option>11</option>
          <option>12</option>
          <option>13</option>
          <option>14</option>
          <option>15</option>
          <option>16</option>
          <option>17</option>
          <option>18</option>
          <option>19</option>
          <option>20</option>
          <option>21</option>
          <option>22</option>
          <option>23</option>
          <option>24</option>
          <option>25</option>
          <option>26</option>
          <option>27</option>
          <option>28</option>
          <option>29</option>
          <option>30</option>
          <option>31</option>
        </select>
      </span>
      <span>
        <label for="month">Month:</label>
        <select id="month" name="month">
          <option>JAN</option>
          <option>FEB</option>
          <option>MAR</option>
          <option>APR</option>
          <option>MAY</option>
          <option>JUN</option>
          <option>JUL</option>
          <option>AUG</option>
          <option>SEP</option>
          <option>OCT</option>
          <option>NOV</option>
          <option>DEC</option>
        </select>
      </span>
      
    </div>
        <input  type= "hidden" name ="type" value= "change">
        <input  type= "hidden" name ="destiny" value={{services.id}}>
        <input id="lat-pos" type="hidden" name="latitude" placeholder="Latitude">
        <input id="lng-pos" type="hidden" name="longitude" placeholder="Longitude">

        <input type="submit" value="SAVE">
      </form>

      <div id="map"></div>
      </form>


      <script src="/javascripts/geolocalize.js"></script>
      <script src="https://maps.googleapis.com/maps/api/js?key=" ></script>
      <script type="text/javascript" src="/javascripts/addMap.js"></script>
    </div>
  </div>
</div>


<script type="text/javascript">
  jQuery(function ($) {
    // Google Maps setup
    const center = new google.maps.LatLng({{ services.location.coordinates.[0] }}, {{ services.location.coordinates.[1] }});
    var googlemap = new google.maps.Map(
      document.getElementById('googlemap'),
      {
        center,
    zoom: 8,
      mapTypeId: google.maps.MapTypeId.ROADMAP
      })
  let marker = new google.maps.Marker({
    position: center,
    map: googlemap
  });
    
  });
</script>
<div class="container">
  <div>
    <h1>Información del servicio</h1>
  </div>
  <br />
  <div class="row">

    <br />
    <div class="col-md-6">
      <h1>{{services.title}}</h1>
      <p>{{services.serviceDescription}}</p>
      
    </div>
    <div class="col-md-6">
      <div id="googlemap" style="width:100%; height:350px;"></div>
    </div>
  </div>
</div>

<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
  Te ofrezco a cambio...
</button>

<h2>Han ofrecido..</h2>

{{#each offers}}
<div class="container">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <div class="event service-box">
                <div class="img">
                    <img alt="Event Image"src="{{this.picPath}}" >
                </div>
                <div class="desc">
                    <h3>{{this.title}}</h3>
                    <p>{{this.serviceDescription}}</p>
                    
                    {{#owner ../services.user}}
                    <a href="/finished/{{../services.id}}/{{this.id}}">Aceptar este trueque</a>
                    {{/owner}}
                </div>
                <div class="date float-xs-right">
                    <div class="day">{{this.day}}</div>
                    <div class="month">{{this.month}}</div>
                </div>

            </div>
        </div>
         {{/each}}

      </div>
    </div>