<div class="container profile">
  <div>
    <h1>Perfil de {{user.username}}</h1>
    <ul>
      <li>
        <h5> Username: {{user.username}} </h5>
      </li>
      <li>
        <h5> name: {{user.name}} </h5>
      </li>
      <li>
        <h5>Email: {{user.email}}</h5>
      </li>
      <li>
         <div>
          <h5>Nota media del usuario</h5>
          <h3>{{avg}} <img src="images/star-icon.png" alt="" height="42" width="42"></h3>
        </div>
      </li>
    </ul>
  </div>

  <div>
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#editUser">
      Edita tus datos
    </button>
    <div class="modal fade" id="editUser">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">Edita tus datos</h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>

          <form method="POST" action="/profile/{{user.id}}/edit">
            <label for="username">Nombre de usuario</label>
            <input id="username" type="text" name="username" placeholder={{this.username}}>

            <br><br>

            <p>{{this.id}}</p>
            <label for="email"> Email </label>
            <input type="email" name="email" id="email" placeholder="modifica aquí tu mail">
            <br><br>

            <label for="name">Añade un alias a la cuenta</label>
            <input id="name" type="name" name="name" placeholder="tu nombre">



            <input type="submit" value="SAVE">
          </form>

        </div>
      </div>
    </div>
  </div>

  <div>
    <h1>Your services</h1>
    <br>
    <br>
    {{#each services}}
    <div class="container">
      <div class="row">
        <div class="col-md-8 offset-md-2">
          <div class="event  service-box">
            <div class="img">
              <img alt="Event Image" src="{{this.picPath}}">
            </div>
            <div class="desc">
              <a href="/detail/{{this.id}}">
                <h3>{{this.title}}</h3>
              </a>
              <p>{{this.serviceDescription}}</p>
            </div>
            <div class="date float-xs-right">
              <div class="day">{{this.day}}</div>
              <div class="month">{{this.month}}</div>
            </div>

          </div>
        </div>
        <form action="/profile/{{_id}}/delete" method="POST">
          <input type="hidden" name="userId" value="{{_id}}">
          <button type="submit">Delete</button>
        </form>

        {{/each}}

      </div>


      <div>
        <h1>Reviews recibidas</h1>
        <hr>
        <br>
        <br>
        <div>
          {{#each rating}}
          <h1>- {{this.title}} -</h1>
          <h3>{{this.content}}</h3>
          <br>
          <h5><i>"{{this.authorId.username}}"</i></h5>
          <h3>{{this.rating}} <img src="images/star-icon.png" alt="" height="42" width="42"></h3><br>
          <hr>
          {{/each}}


        </div>
        
      </div>
    </div>