{{!-- MODAL --}}

<div class="modal fade" id="myModal">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">


      <div class="modal-header">
        <h4 class="modal-title">Te ofrezco</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <form method="POST" action="/detail/{{services.id}}" enctype="multipart/form-data">
        <p>Tipo de servicio<input type="text" name="title" placeholder="name"></p>
        <p>Descripción<input type="text" name="serviceDescription" placeholder="description"></p>
        <p>Photo<input type="file" name="photo"></p>

        <p>Until <input type="date" name="serviceExpiresDate" id="serviceExpiresDate"></p>
        <label>Address</label>
        <input  type= "hidden" name ="type" value= "change">
        <input  type= "hidden" name ="destiny" value={{services.id}}>
        <input id="lat-pos" type="hidden" name="latitude" placeholder="Latitude">
        <input id="lng-pos" type="hidden" name="longitude" placeholder="Longitude">

        <input type="submit" value="SAVE">
      </form>

      <div id="map"></div>
      </form>


 <script src="/javascripts/geolocalize.js"></script>       
    <script src="https://maps.googleapis.com/maps/api/js?key="></script>
    <script type="text/javascript" src="/javascripts/addMap.js"></script>
    </div>
  </div>
</div>


<script type="text/javascript">
  jQuery(function ($) {
    // Google Maps setup
    var googlemap = new google.maps.Map(
      document.getElementById('googlemap'),
      {
        center: new google.maps.LatLng(44.5403, -78.5463),
        zoom: 8,
        
      }
    );
  });
</script>
<div class="container">
  <div>
    <h1>Información del servicio</h1>
  </div>
  <br />
  <div class="row">

    <br />
    <div class="col-md-6">
      <h1>{{services.title}}</h1>
      <p>{{services.serviceDescription}}</p>
    </div>
    <div class="col-md-6">
      <div id="googlemap" style="width:100%; height:350px;"></div>
    </div>
  </div>
</div>

<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
  Te ofrezco a cambio...
</button>

<h2>Han ofrecido..</h2>

{{#each offers}}
<div class="container">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <div class="event">
                <div class="img">
                    <img alt="Event Image"src="{{this.picPath}}" >
                </div>
                <div class="desc">
                    <h3>{{this.title}}</h3>
                    <p>{{this.serviceDescription}}</p>
                    <a href="/finished/{{../services.id}}/{{this.id}}">Aceptar este trueque</a>
   
                </div>
                <div class="date float-xs-right">
                    <div class="day">25</div>
                    <div class="month">Jul</div>
                </div>

            </div>
        </div>
         {{/each}}


